@import "styles/settings/__settings";
@import "style.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, sans-serif;
  position: relative;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
p {
  line-height: 1.6;
  margin: 1.2em 0;
}

ul {
  padding-left: 1.2em;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  &[type="text"],
  &[type="search"],
  &[type="email"] {
    outline-offset: 0;
    padding: 0.5em 0;
  }
}

figcaption {
  color: $color-gray-500;
  font-size: 0.9em;
  text-align: center;
  font-style: italic;
  margin-top: 0.6em;
}

.sr-only {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
}

@layer base {
  h1 {
    @apply text-[3.2rem];
  }
  h2 {
    @apply text-[2.4rem];
  }
  h3 {
    @apply text-[1.9rem];
  }
  h4 {
    @apply text-[2.1rem];
  }
  h5 {
    @apply text-[1.3rem];
  }
  h6 {
    @apply text-[1.1rem];
  }
}
